.red-button {
    -fx-background-color: red;
}

.blue-button {
    -fx-background-color: green;
}
.white-button {
    -fx-background-color: white;
}
/*
.toggle-button:selected {
    -fx-background-color: red;
}
*/